body{
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif;
}
ul{flex-direction: row;
display: flex;
list-style-type: none;

}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
}
nav a:hover{
    color:blueviolet;
}
li{
   
    margin:20px;
    height:35px ;
    display: flex;
    align-items: center;
}


.contacto{
    background-color: blueviolet;
    height: 35px;
    width: 120px;
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   
}
a{
    text-decoration: none; 
    color: black;
}




.seccion_uno{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
.imagen{
    height: 500px;
    width: 500px;
    margin-right: 150px;
}

img{
    width: 100%;
    height: 100%;
}
.hola{
    margin-left: 150px;
    

}
.hola_uno{
    font-size: 20px;
    
    margin-bottom: -20px;
}
.hola_dos{
    font-size: 60px;
    font-weight: bolder;
    color: blueviolet;
    
    margin-bottom: -40px;
    
}
.hola_tres{font-size: 18px;
}
.hola_cuatro{
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    border-color: transparent;
    padding: 5px;
}

.hola_cuatro a{
    text-decoration: none;
    color: white;
} 
button:hover{
    
    box-shadow: 0 0 20px blueviolet;

}

.seccion_dos{
    display: flex;
    
    flex-direction: column;
    
}
.seccion_dos_titulo{
    display: flex;
    justify-content: center;
}
.seccion_dos_parrafo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    align-items: center;
    margin: 0 auto;
}
.b-container{
    display: flex;
    justify-content: center;

}




.b-container button{
    height: 200px;
    width: 200px;
    margin: 10px;
}
.b-container button:hover{
    border: 2px solid blueviolet;
}
.fa-brands{
    font-size: 100px;
    
}
.fa-solid{
    font-size: 150px;
    color: white;
    width: 150px;
  
}
.seccion_tres{
    background-color: blueviolet;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cita{
    font-size: 25px;
    color: white;
    width: 800px;
    text-align: center;
}
.firma{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
#proyecto{
    text-align: center;
}
.proyecto_titulo{
    font-size: 40px;
}
.proyecto_texto{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 20px;

}
.boton-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.cuadro{
    width: 300px;
    height: 300px;
    margin-left: 48px;
    margin-right: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: transparent;
    
    

}
.cuadro:hover{
    border: 1px solid blueviolet;

}
.cuadro:hover .epigrafe{
    color: blueviolet;
}
.div_img{
    width: 200px;
    margin:  0 auto;
 
    
}
.img_boton_proyectos{ width: 100%;
text-align: center;


}
.epigrafe{
    font-weight: bolder;
    font-size: 18px;
}

#contacto{
    background-color: rgb(230, 223, 223);
    height: 1000px;
    width: 100%;
    padding-top: 40px;
    
}
.last-div{

    margin-top: 40px;
    border-radius: 25px;
    margin: 35px 70px 35px 70px;
    background-color: white;
    display: flex;
  
}
.contactame{
    text-align: left;   
    width: 40%;
    height: 500px;
    margin-left: 80px;
    margin-right: 80px;
}
.escribeme{
    text-align: justify;
    width: 40%;
    height: 500px;
    margin: 10px;

}
.lorem{
    width: 400px;
    font-size: 18px;
    font-weight: lighter;
}
.title{
    font-size: 35px;
}
form{
    font-size: 25px;
}
.nombre{
    display: flex;
    
}
.nombre input{
    height: 40px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(236, 228, 228);
    border: none;
    margin: 15px;
}
.amarillo input{
    height: 40px;
    width: 450px;
    border-radius: 15px;
    background-color: rgb(236, 228, 228);
    border: none;
    
}
textarea{
    height: 200px;
    width: 450px;
    border-radius: 15px;
    background-color: rgb(236, 228, 228);
    border: none;
}
.enviar input{
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 150px;
    margin-bottom: 20px;

}
.enviar input:hover{
    box-shadow: 0 0 20px blueviolet;


}
textarea::placeholder{
    margin-top: 10px;
}
.maca div{
    display: flex;
}
.maca button{
    width: 40px;
    height: 40px;
}
footer{
    background-color: blueviolet;
    color: white;
}
.pie{
    display: flex;
    justify-content: center;
}
.pieiconos{
    display: flex;
    justify-content: center;
}
.pieiconos button{
    border-radius: 50%;
    background-color: white;
    height: 60px;
    width: 60px;
    border: none;
    margin: 10px;
}
.pieiconos button:hover{
    border-radius: 50%;
    border:1px solid white;
    background-color: blueviolet;
}
.pieiconos i:hover{
    color: white;
}
.pieiconos i{
    font-size: 30px;

    color: blueviolet;
}

.b-botones{
    display: flex;
}
.botones{
    
    height: 60px;
    display: flex;
    flex-direction: column;
}
.botones i{
    font-size: 25px;
    color: blueviolet;
    text-align: center;

}
.botones button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
}
.botones button:hover{
    border-radius: 50%;
    background-color: blueviolet;
}
.botones i:hover{
    color: white;
}
#mail i{
margin-left: -63px;
}
.botones p{
    margin-left:25px ;    
}
.firma{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1100px) {
    nav{
        display: none;
    }
    .seccion_uno img{
        margin: 0 auto;
        width: 500px;
        display: flex;
        justify-content: center;
    }
   
    .seccion_uno{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .hola{
       text-align: center;
       width: 500px;
       margin-left: auto;
       margin-right: auto;
       
       }
    .nombre input{
        height: 40px;
        width: 120px;
       
    }
    .amarillo input{
        height: 40px;
        width: 300px;
        
    }
    textarea{
        height: 200px;
        width: 300px;
       
    }
   
    textarea::placeholder{
        margin-top: 10px;
    }
    .n{
        width: 200px;
        height: 200px;
       
    }
    .div_img{
        width: 100px;
    }
    .imagen{
        margin: 0 auto;
    }
    .epigrafe{
        margin-top: 10px;
        font-size: 15px;

    }

    
}
@media screen and (max-width:800px) {
    nav{
        display: none;
    }
    .seccion_uno{
        display: flex;
        flex-direction: column;
    }
    .hola{
       
        text-align: center;

    }
    
}
@media screen and (max-width:480px) {
    
}
@media screen and (max-width:300px) {
    
}
++++++++++++++++++++++++++++++++++++++
@media  (max-width:1100px) {
    nav{
        display: none;
    }
    .seccion_uno img{
        margin: 0 auto;
        width: 500px;
        display: flex;
        justify-content: center;
    }
   
    .seccion_uno{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .hola{
       text-align: center;
       width: 500px;
       margin-left: auto;
       margin-right: auto;
       
       }
    .nombre input{
        height: 40px;
        width: 120px;
       
    }
    .amarillo input{
        height: 40px;
        width: 300px;
        
    }
    textarea{
        height: 200px;
        width: 300px;
       
    }
   
    textarea::placeholder{
        margin-top: 10px;
    }
    .n{
        width: 200px;
        height: 200px;
       
    }
    .div_img{
        width: 100px;
    }
    .imagen{
        margin: 0 auto;
    }
    .epigrafe{
        margin-top: 10px;
        font-size: 15px;

    }

    
}
@media (min-width:800px) and (max-width:965px){
    body{
        width: 100%;
    }
    .portada{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        
    }
    .seccion_uno{
        display: flex;
        justify-content: center;
    }
        
    .contenedor_botones button{
        width: 200px;
        height: 200px;        
    }
    .contenedor_botones{
        
        padding-left: 80px;
    }
    #contacto{
        height: 1500px;
    }
    .caja_contacto_formulario{
        display: flex;
        flex-direction: column;
        background-color:rgb(230, 223, 223); 
        

    }
    .caja_contactame{
        padding-left: 75px;
        border-radius: 15px;
        margin-bottom: 50px;
        background-color: white;
        width: 600px;
        margin-left: 0%;
        padding-left: 100px
        
        ;
    }

   .formulario{
    width: 600px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 100px;
   }
   textarea{
    width: 450px;

   }
}
@media (min-width:481) and (max-width:800px) {
    nav{
        display: none;
    }
    .seccion_uno{
        display: flex;
        flex-direction: column;
    }
    .hola{
       text-align: center;
    }
    .contenedor_botones button{
        width: 200px;
        height: 200px;        
    }
    .seccion_tres p{
        font-size: 15px;
        width: 600px;
    }
    #contacto{
        height: 1500px;
    }
    .caja_contacto_formulario{
        display: flex;
        flex-direction: column;
        background-color:rgb(230, 223, 223); 
        

    }
    .caja_contactame{
        padding-left: 75px;
        border-radius: 15px;
        margin-bottom: 50px;
        background-color: white;
        width: 90%;
        margin-left: 0%;
        padding-left: 100px
        
        ;
    }

   .formulario{
    width: 90%;
    margin-top: 50px;
    border-radius: 15px;
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 100px;
   }
   textarea{
    width: 450px;

   }

    
    
}
@media screen and (max-width:480px) {
    .portada{text-align: center;
    margin-left: 0;}
    .portada h2{
        font-size: 30px;
    }
   .portada h1{
    font-size: 50px;
   }
   .portada p{
    font-size: 20px;
   }
   
}