body{
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif;

}
ul{flex-direction: row;
display: flex;
list-style-type: none;

}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
}
nav a:hover{
    color:blueviolet;
}
li{
   
    margin:20px;
    height:35px ;
    display: flex;
    align-items: center;
}


.contacto{
    background-color: blueviolet;
    height: 35px;
    width: 120px;
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   
}
a{
    text-decoration: none; 
    color: black;
}




.seccion_uno{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
.imagen{
    height: 500px;
    width: 500px;
    margin-right: 150px;
}

img{
    width: 100%;
    height: 100%;
}
.hola{
    margin-left: 150px;
    

}
.hola_uno{
    font-size: 20px;
    
    margin-bottom: -20px;
}
.hola_dos{
    font-size: 60px;
    font-weight: bolder;
    color: blueviolet;
    
    margin-bottom: -40px;
    
}
.hola_tres{font-size: 18px;
}
.hola_cuatro{
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    border-color: transparent;
    padding: 5px;
}

.hola_cuatro a{
    text-decoration: none;
    color: white;
} 
button:hover{
    
    box-shadow: 0 0 20px blueviolet;

}

#conocimiento{
    display: flex;
    
    flex-direction: column;
    
}
.seccion_dos_titulo{
    display: flex;
    justify-content: center;
}
.seccion_dos_parrafo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    align-items: center;
    margin: 0 auto;
}
.b-container{
    display: flex;
    justify-content: center;

}




.b-container button{
    height: 200px;
    width: 200px;
    margin: 10px;
}
.b-container button:hover{
    border: 2px solid blueviolet;
}
.fa-brands{
    font-size: 100px;
    
}
.fa-solid{
    font-size: 150px;
    color: white;
    width: 150px;
  
}
.seccion_tres{
    background-color: blueviolet;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cita{
    font-size: 25px;
    color: white;
    width: 800px;
    text-align: center;
}
.firma{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
#proyecto{
    text-align: center;
}
#proyecto h1{
    font-size: 40px;
}
#proyecto p{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 20px;

}
.contenedor_botones{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.contenedor_botones button{
    width: 300px;
    height: 300px;
    margin-left: 48px;
    margin-right: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: transparent;
    
    

}
.contenedor_botones button:hover{
    border: 1px solid blueviolet;

}
.contenedor_botones button:hover .epigrafe{
    color: blueviolet;
}
.div_img{
    width: 200px;
    margin:  0 auto;
 
    
}
.img_boton_proyectos{ width: 100%;
text-align: center;


}
.epigrafe{
    font-weight: bolder;
    font-size: 18px;
}

#contacto{
    background-color: rgb(230, 223, 223);
    height: 1000px;
    width: 100%;
    padding-top: 40px;
    
}
.caja_contacto_formulario{

    margin-top: 40px;
    border-radius: 25px;
    margin: 35px 70px 35px 70px;
    background-color: white;
    display: flex;
  
}
.caja_contactame{
    text-align: left;   
    width: 40%;
    height: 500px;
    margin-left: 80px;
    margin-right: 80px;
    
}
.caja_contactame h1{
    font-size: 35px;
}
.caja_contactame p{

    width: 400px;
    font-size: 18px;
    font-weight: lighter;
}
.b_botones{
    display: flex;
    
}
.botones{
    
    height: 60px;
    display: flex;
    flex-direction: column;
}
.botones i{
    font-size: 25px;
    color: blueviolet;
    text-align: center;

}
.botones button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
}
.botones button:hover{
    border-radius: 50%;
    background-color: blueviolet;
}
.botones i:hover{
    color: white;
}
.botones p{
    margin-left:25px ;    
}

.escribeme{
    text-align: justify;
    width: 40%;
    height: 500px;
    margin: 10px;

}

form{
    font-size: 25px;
}
.nombre_div{
    display: flex;
    
}
.nombre_div input{
    height: 40px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(236, 228, 228);
    border: none;
    margin: 15px;
}
.mail_div input{
    height: 40px;
    width: 450px;
    border-radius: 15px;
    background-color: rgb(236, 228, 228);
    border: none;
    
}
textarea{
    height: 200px;
    width: 450px;
    border-radius: 15px;
    background-color: rgb(236, 228, 228);
    border: none;
}
.enviar_div input{
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 150px;
    margin-bottom: 20px;

}
.enviar_div input:hover{
    box-shadow: 0 0 20px blueviolet;


}
textarea::placeholder{
    margin-top: 10px;
}
.maca div{
    display: flex;
}
.maca button{
    width: 40px;
    height: 40px;
}
footer{
    background-color: blueviolet;
    color: white;
}
.pie{
    display: flex;
    justify-content: center;
}
.pie_iconos{
    display: flex;
    justify-content: center;
}
.pie_iconos button{
    border-radius: 50%;
    background-color: white;
    height: 60px;
    width: 60px;
    border: none;
    margin: 10px;
}
.pie_iconos button:hover{
    border-radius: 50%;
    border:1px solid white;
    background-color: blueviolet;
}
.pie_iconos i:hover{
    color: white;
}
.pie_iconos i{
    font-size: 30px;

    color: blueviolet;
}


#mail i{
margin-left: -63px;
}

.firma{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1100px) {
    nav{
        display: none;
    }
    .seccion_uno img{
        margin: 0 auto;
        width: 500px;
        display: flex;
        justify-content: center;
    }
   
    .seccion_uno{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .hola{
       text-align: center;
       width: 500px;
       margin-left: auto;
       margin-right: auto;
       
       }
    .nombre input{
        height: 40px;
        width: 120px;
       
    }
    .amarillo input{
        height: 40px;
        width: 300px;
        
    }
    textarea{
        height: 200px;
        width: 300px;
       
    }
   
    textarea::placeholder{
        margin-top: 10px;
    }
    .n{
        width: 200px;
        height: 200px;
       
    }
    .div_img{
        width: 100px;
    }
    .imagen{
        margin: 0 auto;
    }
    .epigrafe{
        margin-top: 10px;
        font-size: 15px;

    }

    
}
@media screen and (max-width:800px) {
    nav{
        display: none;
    }
    .seccion_uno{
        display: flex;
        flex-direction: column;
    }
    .hola{
       
        text-align: center;

    }
    
}
@media screen and (max-width:480px) {
    
}
@media screen and (max-width:300px) {
    
}